<div id="add-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-7xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-center">
          <!-- Modal header -->
          <div class="flex items-center justify-center p-5 border-b rounded-t dark:border-gray-600">
            <h1
            class="mb-9 mt-9 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-gray-900">
            Agregar Empleado</h1>
             
          </div>
          <form class="mx-32" (ngSubmit)="handleCreateEmployeer(form.value , form.valid)" #form="ngForm" novalidate>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/3 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Nombre
                </label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-name" type="text" placeholder="Ingrese Nombre" name='name' required #search='ngModel'
                  [ngModel]='name'>
              </div>
              <div class="w-full md:w-1/3 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Apellidos
                </label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-lastName" type="text" placeholder="Ingrese Apellidos" name='lastName' required #search='ngModel'
                  [ngModel]='lastName'>
              </div>
              <div class="w-full md:w-1/3 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Correo
                </label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-email" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Ingrese un correo" name='email' required #search='ngModel'
                  [ngModel]='email'>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/3 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Telefono
                </label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-phone" type="text" placeholder="Ingrese un telefono" name='phone' required #search='ngModel'
                  [ngModel]='phone'>
              </div>
              <div class="w-full md:w-1/3 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Municipio
                </label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-municipio" type="text" placeholder="Ingrese un Municipio" name='municipio' required #search='ngModel'
                  [ngModel]='municipio'>
              </div>
              <div class="w-full md:w-1/3 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Departamento
                </label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-department" type="text" placeholder="Ingrese un Departamento" name='department' required #search='ngModel'
                  [ngModel]='department'>
              </div>
            </div>
            <div class="w-full px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Ubicacion
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                id="grid-address" type="text" placeholder="Ingrese una ubicacion" name='address' required #search='ngModel'
                [ngModel]='address'>
            </div>
            <div class="flex justify-center mt-8 pb-10">
              <a data-modal-hide="add-modal" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-4">
                Cancelar
              </a>
              <button class="bg-gray-900 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded" type="submit">
                Agregar
              </button>
            </div>
          </form>
      </div>
  </div>
</div>


  
